[Unit]
Description=Network Monitor Client
After=network-online.target

[Service]
Type=simple
Restart=always
User=network-monitor
Group=network-monitor
WorkingDirectory=/usr/bin/network-monitor/client
ExecStart=/usr/bin/network-monitor/client/network-monitor router.local ping.projects.chrisjeakle.com ping.projects-west.chrisjeakle.com

[Install]
WantedBy=multi-user.target
