[Unit]
Description=Network Monitor Client

[Service]
Type=simple
Restart=always
User=network-monitor
Group=network-monitor
WorkingDirectory=/usr/bin/network-monitor/client
ExecStart=/usr/bin/network-monitor/client/network-monitor switch.local pi3.local ping.projects.chrisjeakle.com

[Install]
WantedBy=multi-user.target
